{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Zero Hunger</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free Website Template" name="keywords">
        <meta content="Free Website Template" name="description">

        <!-- Favicon -->
        <link href="{% static 'img/favicon.ico' %}" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Nunito:600,700" rel="stylesheet"> 
        
        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/flaticon/font/flaticon.css' %}" rel="stylesheet">
        <link href="{% static 'lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet" />

        <!-- Template Stylesheet -->
        <link link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

    </head>

    <body>
        <!-- Nav Bar Start -->
        <div class="navbar navbar-expand-lg bg-light navbar-light">
            <div class="container-fluid">
                <a href="index.html" class="navbar-brand">Zero <span>Hunger</span></a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav ml-auto">
                        <a href="index.html" class="nav-item nav-link active">Home</a>
                        <a href="about.html" class="nav-item nav-link">About</a>
                        <a href="https://get.mobitrash.in/" class="nav-item nav-link">Mobitrash</a>
                        <!-- <a href="feature.html" class="nav-item nav-link">Feature</a>
                        <a href="team.html" class="nav-item nav-link">Chef</a>
                        <a href="menu.html" class="nav-item nav-link">Menu</a>
                        <a href="booking.html" class="nav-item nav-link">Booking</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
                            <div class="dropdown-menu">
                                <a href="blog.html" class="dropdown-item">Blog Grid</a>
                                <a href="single.html" class="dropdown-item">Blog Detail</a>
                            </div>
                        </div> -->
                        <!-- <a href="contact.html" class="nav-item nav-link">Contact</a> -->
                        <a href="" class="nav-item nav-link">Signup</a>
                        <a href="login.html" class="nav-item nav-link">Login</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Nav Bar End -->


        <!-- Carousel Start -->
        <div class="carousel">
            <div class="container-fluid">
                <div class="owl-carousel">
                    <div class="carousel-item">
                        <div class="carousel-img">
                            <img src="{% static 'img/carousel-1.jpg' %}" alt="Image">
                        </div>
                        <div class="carousel-text">
                            <h4 style="color:white;">आत्मनं प्रति यज्ञेन, अन्नं दानेन समर्पयेत्|</h4>
<!--                            <h1>Best <span>Quality</span> Ingredients</h1>-->
                            <p>
                                Offer oneself through sacrifice, dedicate food through donation
                            </p>
                            <div class="carousel-btn">
                                <a class="btn custom-btn" href="login.html">Login</a>
                                <a class="btn custom-btn" href="">Sign up</a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-img">
                            <img src="{% static 'img/carousel-2.jpg' %}" alt="Image">
                        </div>
                        <div class="carousel-text">
                            <h4 style="color:white;"> भूतेभ्यो यज्ञः कर्मणा, दानेन च मनोगतं।</h4>
<!--                            <h1>World’s <span>Best</span> Chef</h1>-->
                            <p>
                                Perform rituals for the well-being of all beings, both through actions and mental generosity.
                            </p>
                            <div class="carousel-btn">
                                <a class="btn custom-btn" href="">Login</a>
                                <a class="btn custom-btn" href="">Sign up</a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-img">
                            <img src="{% static 'img/carousel-3.jpg' %}" alt="Image">
                        </div>
                        <div class="carousel-text">
                            <h4 style="color:white;">सेवया त्यागेन च, आत्मा संरक्षणाय समर्पयेत्।</h4>
<!--                            <h1>Fastest Order <span>Delivery</span></h1>-->
                            <p>
                                Through service and sacrifice, dedicate oneself for the preservation of the soul.
                            </p>
                            <div class="carousel-btn">
                                <a class="btn custom-btn" href="">Login</a>
                                <a class="btn custom-btn" href="">Sign up</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Carousel End -->
        
                                              
        

        <!-- About Start -->
        <div class="about">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="about-img">
                            <img src="{% static 'img/carousel-3.jpg' %}" alt="Image">
                            <button type="button" class="btn-play" data-toggle="modal" data-src="https://www.youtube.com/embed/MMW6zLbBmQg?si=L-Q4zZhlQ5UUU5T8" data-target="#videoModal">
                                <span></span>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-content">
                            <div class="section-header">
                                <p>About</p>
                                <h4>SAVE FOOD AND SHARE FOOD</h4>
                            </div>
                            <div class="about-text">
                                <p>
                                    About 15 percent of India is undernourished. This statistic may not initially seem significant, but 15% of 1.34 billion people is roughly 199 million people. To put this in perspective, 199 million people is more than half of the United States. Currently, organizations such as the Fight Hunger Foundation have begun to battle the issue, but it remains prevalent.
One-third of food gets lost or wasted. According to the Indian Food Bank, 40 percent of vegetables and 30 percent of cereals produced are lost due to inefficiencies in the supply chain. New agricultural methods and the overall industrialization of India have sought to increase efficiency.
Women account for 60 percent of India’s hungry population. For the last 65 years, CARE India has emerged as a leader in addressing the issue of hunger in developing areas by focusing on women’s health, education, and access to necessities. The NGO has impacted 24.1 million people directly and 85.8 million indirectly.
3,000 children die every day from hunger. Those that survive have a high chance of living with hardships in the future. Organizations like Save the Children have turned to India to help decrease this number through aid in the form of food, hygiene, and education.
                                </p>
                               
                                <a class="btn custom-btn" href="about.html">More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->
        
        
        <!-- Video Modal Start-->
        <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>        
                        <!-- 16:9 aspect ratio -->
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="" id="video"  allowscriptaccess="always" allow="autoplay"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <!-- Video Modal End -->
        
        
       
       
    

        <!-- Blog Start -->
        <div class="blog">
            <div class="container">
                <div class="section-header text-center">
              
                    <h2>Our Goal</h2>
                </div>
                <div class="row" >
                    <div class="col-md-3">
                        </div>
                    <div class="col-md-6" >
                        <div class="blog-item">
                            <div class="blog-img">
                                <img src="{% static 'img/foodwaste.jpg' %}" alt="Blog">
                            </div>
                            <div class="blog-content">
                                <h2 class="blog-title">“ZERO HUNGER”</h2>
                            
                                <div class="blog-text">
                                    <p>
                                        “ZERO HUNGER” is a kind of a
                                        project where a person who are willing to donate a food but
                                        at that situation if he/she does not have a food to give so
                                        Zero Hunger is the application where he/she can just login
                                        and search for the nearest location (where he can receive a
                                        food from nearby Hotel / Home / Weeding etc.)then the
                                        application will work as Let’s say, that the nearest hotel lefts
                                        50 plates of meal today then the hotel manager will login to
                                        the Zero hunger application and will give information about
                                        
                                        the hotel name, hotel number, and how many plates are left
                                        in the hotel and With the help of chatbot the person will
                                        know about the specific hotel and he can just share his
                                        current location and within 2-3 min the Meal will be deliver
                                        by the hotel.
                                    <!-- <a class="btn custom-btn" href="">Read More</a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog End -->


        <!-- Footer Start
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="footer-contact">
                                    <h2>Our Address</h2>
                                    <p><i class="fa fa-map-marker-alt"></i>123 Street, New York, USA</p>
                                    <p><i class="fa fa-phone-alt"></i>+012 345 67890</p>
                                    <p><i class="fa fa-envelope"></i>info@example.com</p>
                                    <div class="footer-social">
                                        <a href=""><i class="fab fa-twitter"></i></a>
                                        <a href=""><i class="fab fa-facebook-f"></i></a>
                                        <a href=""><i class="fab fa-youtube"></i></a>
                                        <a href=""><i class="fab fa-instagram"></i></a>
                                        <a href=""><i class="fab fa-linkedin-in"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="footer-link">
                                    <h2>Quick Links</h2>
                                    <a href="">Terms of use</a>
                                    <a href="">Privacy policy</a>
                                    <a href="">Cookies</a>
                                    <a href="">Help</a>
                                    <a href="">FQAs</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="footer-newsletter">
                            <h2>Newsletter</h2>
                            <p>
                                Lorem ipsum dolor sit amet elit. Quisque eu lectus a leo dictum nec non quam. Tortor eu placerat rhoncus, lorem quam iaculis felis, sed lacus neque id eros.
                            </p>
                            <div class="form">
                                <input class="form-control" placeholder="Email goes here">
                                <button class="btn custom-btn">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
        Footer End -->

        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'lib/easing/easing.min.js' %}"></script>
        <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
        <script src="{% static 'lib/tempusdominus/js/moment.min.js' %}"></script>
        <script src="{% static 'lib/tempusdominus/js/moment-timezone.min.js' %}"></script>
        <script src="{% static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>
        
        <!-- Contact Javascript File -->
        <script src="{% static 'mail/jqBootstrapValidation.min.js' %}"></script>
        <script src="{% static 'mail/contact.js' %}"></script>

        <!-- Template Javascript -->
        <script src="{% static 'js/main.js.jpg' %}"></script>
    </body>
</html>
