{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Zero Hunger{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Nunito:600,700" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0dbb760b03.js" crossorigin="anonymous"></script>

    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="{% static 'lib/owlcarousel/assets/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'lib/owlcarousel/assets/owl.theme.default.css' %}">
    <link href="{% static 'animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'flaticon/font/flaticon.css' %}" rel="stylesheet">
    <link href="{% static 'tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet">
    
    

</head>
<body>


<!-- Navbar -->
<div class="navbar navbar-expand-lg bg-light navbar-light">
    <div class="container-fluid">
        <a href="{% url 'index' %}" class="navbar-brand">Zero <span>Hunger</span></a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav ml-auto">
                <a href="{% url 'index' %}" class="nav-item nav-link ">Home</a>
                <a href="{% url 'about' %}" class="nav-item nav-link active">About</a>
                <a href="https://get.mobitrash.in/" class="nav-item nav-link">Mobitrash</a>
                <a href="{% url 'signup' %}" class="nav-item nav-link">Signup</a>
                <a href="{% url 'login' %}" class="nav-item nav-link" >Login</a>
            </div>
        </div>
    </div>
</div>
<!-- End Navbar -->

 <!-- Page Header Start -->
 <div class="page-header mb-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Fill Information</h2>
            </div>
            <div class="col-12">
                <!-- <a href="{% url 'index' %}">Home</a> -->
                <a href="{% url 'login' %}">Logout</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->



        <!-- Start -->
        <div class="food mt-0">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6"  id="donar-link">
                        <div class="food-item">
                            <i class="fa-solid fa-gift"></i>
                            
                            <h2>As a Donar</h2>
                            <p>
                                Help minimize food wastage across the supply chain by means of redistribution to poor and needy.
                            </p>
                           
                        </div>
                    </div>
                
                    <div class="col-md-6" id="receiver-link">
                        <div class="food-item">
                            <i class="fa-solid fa-handshake-angle"></i>
                            <h2>As a Receiver</h2>
                            <p>
                                Facilitate safe distribution of surplus food by connecting trained food recovery agencies with food chains.
                            </p>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  End -->

        
      


<div class="container">
    {% block content %}
    {% endblock %}
</div>

<!-- jQuery and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Owl Carousel JS -->
<script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>

<!-- Your Custom JavaScript -->
<script src="{% static 'js/main.js' %}"></script>
<script>
    document.getElementById('donar-link').addEventListener('click', function() {
        window.location.href = '/donar/';
    });

    document.getElementById('receiver-link').addEventListener('click', function() {
        window.location.href = '/receiver/';
    });
</script>

</body>
</html>
