{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Zero Hunger{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Nunito:600,700" rel="stylesheet">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="{% static 'lib/owlcarousel/assets/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'lib/owlcarousel/assets/owl.theme.default.css' %}">
    <link href="{% static 'animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'flaticon/font/flaticon.css' %}" rel="stylesheet">
    <link href="{% static 'tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet">
    
    

</head>
<body>


<!-- Navbar -->
<div class="navbar navbar-expand-lg bg-light navbar-light">
    <div class="container-fluid">
        <a href="{% url 'index' %}" class="navbar-brand">Zero <span>Hunger</span></a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav ml-auto">
                <a href="{% url 'index' %}" class="nav-item nav-link ">Home</a>
                <a href="{% url 'about' %}" class="nav-item nav-link active">About</a>
                <a href="https://get.mobitrash.in/" class="nav-item nav-link">Mobitrash</a>
                <a href="{% url 'signup' %}" class="nav-item nav-link">Signup</a>
                <a href="{% url 'login' %}" class="nav-item nav-link" >Login</a>
            </div>
        </div>
    </div>
</div>
<!-- End Navbar -->

 <!-- Page Header Start -->
 <div class="page-header mb-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Login</h2>
            </div>
            <div class="col-12">
                <a href="{% url 'index' %}">Home</a>
                <!-- <a href="{% url 'login' %}">Login</a> -->
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->


 <!-- Register -->
 <div class="center-container">
    <form action="" style="border: 1px solid #719a0a !important;" method="post">
       {% csrf_token %}
       <div class="container">
         <h1 style="color: #fbaf32;"><b>Login</b></h1>
         <!-- <p>Please fill in this form to create an account.</p> -->
         <hr>
     
         <label for="fname"><b>First Name</b></label>
         <input type="text" placeholder="Enter First Name" name="fname" id="fname" required>
     
     
         <label for="password"><b>Password:</b></label> 
         <input type="password" id="password" name="password" placeholder="Enter your password" 
         pattern= "^(?=.*\d)(?=.*[a-zA-Z])(?=.*[^a-zA-Z0-9])\S{8,}$" required 
           title="Password must contain at least one number, 
                 one alphabet, one symbol, and be at 
                 least 8 characters long"> 
   
       
         <!-- <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p> -->
         <button type="submit" class="registerbtn">Login</button>
       </div>
     
       <div class="container signin">
         <p>Create an account? <a href="{% url 'signup' %}">Sign up</a>.</p>
       </div>
     </form>
     </div>
    <!-- Register End -->
           
      


<div class="container">
    {% block content %}
    {% endblock %}
</div>

<!-- jQuery and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Owl Carousel JS -->
<script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>

<!-- Your Custom JavaScript -->
<script src="{% static 'js/main.js' %}"></script>


</body>
</html>
