{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">


    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Nunito:600,700" rel="stylesheet">
   
   
    
    

</head>


   

<body id="body-pd">
    
    <header class="header" id="header">
        <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
        <div class="header_img"> <i class='bx bx-user nav_icon' style='font-size:48px;color:#fbaf32'></i> </div>
    </header>
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div> 
                <a href="#" class="nav_logo"> <i class='bx bx-layer nav_logo-icon'></i> <span class="nav_logo-name">Zero Hunger</span> </a>
                <div class="nav_list">
                    <a href="{% url 'index' %}" class="nav-item nav-link ">&nbsp;&nbsp;<i class='bx bx-grid-alt nav_icon' style="color: white;"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="nav_name" style="color: white;">Home</span> </a> <br>
                    <a href="{% url 'donarinfo' %}" class="nav-item nav-link">&nbsp;&nbsp;<i class='bx bx-message-square-detail nav_icon' style="color: white;"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="nav_name" style="color: white;">Donar</span> </a><br>
                   <a href="{% url 'donarview' %}" class="nav-item nav-link">&nbsp;&nbsp;<i class='bx bx-bookmark nav_icon' style="color: white;"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="nav_name" style="color: white;">View</span> </a> <br>
                
            
                
                    </div> 
            </div> <a href="#" class="nav_link"> <i class='bx bx-log-out nav_icon'></i> <span class="nav_name">SignOut</span> </a>
        </nav>
    </div>
    <h1 style="margin-top: 80px;"><center><span style="color:#719a0a;">View</span>  <span style="color:#fbaf32 ;">Information</span></center></h1> 
    
    <table id="item-table" class="display">
        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Address</th>
                <th>Date</th>
                <th>Mobile No</th>
                <th>Email</th>
                <th>Pincode</th>
                <th>Expiry</th>
            </tr>
        </thead>
        <tbody>
            {% for donor in donar_info %}
            <tr>
                <td>{{ donor.name }}</td>
                <td>{{ donor.quantity }}</td>
                <td>{{ donor.address }}</td>
                <td>{{ donor.date }}</td>
                <td>{{ donor.mobileno }}</td>
                <td>{{ donor.email }}</td>
                <td>{{ donor.pincode }}</td>
                <td>{{ donor.expiry }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    

<div class="container">
    {% block content %}
    {% endblock %}
</div>

<!-- jQuery and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

<script>
    $(document).ready(function() {
        $('#item-table').DataTable();
    });
</script>
<!-- Your Custom JavaScript -->
<script src="{% static 'js/main.js' %}"></script>

<script>
    document.addEventListener("DOMContentLoaded", function(event) {
      
      const showNavbar = (toggleId, navId, bodyId, headerId) =>{
      const toggle = document.getElementById(toggleId),
      nav = document.getElementById(navId),
      bodypd = document.getElementById(bodyId),
      headerpd = document.getElementById(headerId)
      
      // Validate that all variables exist
      if(toggle && nav && bodypd && headerpd){
      toggle.addEventListener('click', ()=>{
      // show navbar
      nav.classList.toggle('show')
      // change icon
      toggle.classList.toggle('bx-x')
      // add padding to body
      bodypd.classList.toggle('body-pd')
      // add padding to header
      headerpd.classList.toggle('body-pd')
      })
      }
      }
      
      showNavbar('header-toggle','nav-bar','body-pd','header')
      
      /*===== LINK ACTIVE =====*/
      const linkColor = document.querySelectorAll('.nav_link')
      
      function colorLink(){
      if(linkColor){
      linkColor.forEach(l=> l.classList.remove('active'))
      this.classList.add('active')
      }
      }
      linkColor.forEach(l=> l.addEventListener('click', colorLink))
      
       // Your code to run since DOM is loaded and ready
      });
   
   </script>
</body>
</html>
